<section class="hero">
  <div class="container hero-content">
    <div *ngIf="!isLoggedIn; else heroContent" class="signin-container">
  <h2>Đăng nhập</h2>
  <form (ngSubmit)="onSubmit()" #signinForm="ngForm">
    <div class="form-group">
      <label>Tên đăng nhập:</label>
      <input type="text" [(ngModel)]="username" name="username" required />
    </div>
    <div class="form-group">
      <label>Mật khẩu:</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    </div>

    <div *ngIf="error" class="error">{{ error }}</div>
    <button type="submit">Đăng nhập</button>
  </form>
  <p>
    <a routerLink="/register">Đăng ký</a> |
    <a routerLink="/forgot-password">Quên mật khẩu</a>
  </p>
  </div>
  <ng-template #heroContent>
    <div class="hero-text">
      <h2>Bạn đang đói?</h2>
      <p>Hãy khám phá những món ăn ngon gần bạn chỉ với vài nhấp chuột!</p>
    </div>
  </ng-template>
    <div class="main-image">
      <img src="assets/images/main.png" alt="noodle" class="hero-img">
    </div>
  </div>
</section>

<div class="home-page">
  <div class="first">
    <div class="container">
    <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/bun_moc.jpg" alt="Không hiển thị được ảnh">
        <div class="con">
          <span class="big">15</span>
          <span class="small">% off</span>
        </div>
      </div>
      <div class="content">
        <p><b>Bún chả</b></p>
        <div class="btn-remaining">Còn 5 ngày</div>
      </div>
    </div>

    <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/bun_thit_nuong.jpg" alt="Không hiển thị được ảnh">
        <div class="con">
          <span class="big">10</span>
          <span class="small">% off</span>
        </div>
      </div>
      <div class="content">
        <p><b>Bún thịt nướng</b></p>
        <div class="btn-remaining">Còn 3 ngày</div>
      </div>
    </div>

    <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/banh_mi_ga.jpg" alt="Không hiển thị được ảnh">
        <div class="con">
          <span class="big">25</span>
          <span class="small">% off</span>
        </div>
      </div>
      <div class="content">
        <p><b>Bánh mì gà</b></p>
        <div class="btn-remaining">Còn 2 ngày</div>
      </div>
    </div>

    <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/cao_lau_hoian.jpg" alt="Không hiển thị được ảnh">
        <div class="con">
          <span class="big">20</span>
          <span class="small">% off</span>
        </div>
      </div>
      <div class="content">
        <p><b>Cao lầu Hội An</b></p>
        <div class="btn-remaining">Còn 7 ngày</div>
      </div>
    </div>
  </div>
</div>

<div class="second">
  <h2>Món ăn đang phổ biến</h2>
  <div class="slider-wrapper">
    <i class="bi bi-arrow-left-circle-fill arrow left" (click)="scrollLeft()"></i>

    <div class="slider-container" #scrollContainer>
      <div class="slider">
        <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

          <img src="assets/images/logo/che_hat_luu.jpg" alt="Không hiển thị được ảnh">
          <p><b>Chè hạt lựu</b></p>
          <p class="main"><i class="bi bi-geo-alt-fill"></i> Burger Arena</p>
          <p><b>20.000đ</b></p>
          <button>Đặt hàng ngay</button>
        </div>
        <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

          <img src="assets/images/logo/hu_tieu_bo_vien.jpg" alt="Không hiển thị được ảnh">
          <p><b>Hủ tiếu bò viên</b></p>
          <p class="main"><i class="bi bi-geo-alt-fill"></i>Hủ tiếu chú Sáu</p>
          <p><b>30.000đ</b></p>
          <button>Đặt hàng ngay</button>
        </div>
        <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

          <img src="assets/images/logo/chao_bo_to.jpg" alt="Không hiển thị được ảnh">
          <p><b>Cháo bò tơ</b></p>
          <p class="main"><i class="bi bi-geo-alt-fill"></i>Đặc sản Tây Ninh/p>
          <p><b>28.000đ</b></p>
          <button>Đặt hàng ngay</button>
        </div>
        <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

          <img src="assets/images/logo/pho_bo_vien.jpg" alt="Không hiển thị được ảnh">
          <p><b>Phở bò viên</b></p>
          <p class="main"><i class="bi bi-geo-alt-fill"></i>Quán phở cô Hoa</p>
          <p><b>45.000đ</b></p>
          <button>Đặt hàng ngay</button>
        </div>
        <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

          <img src="assets/images/logo/bun_moc.jpg" alt="Không hiển thị được ảnh">
          <p><b>Bún mọc</b></p>
          <p class="main"><i class="bi bi-geo-alt-fill"></i>Quán phở cô Hoa</p>
          <p><b>48.000đ</b></p>
          <button>Đặt hàng ngay</button>
        </div>
        <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

          <img src="assets/images/logo/thit_xien.jpg" alt="Không hiển thị được ảnh">
          <p><b>Thịt xiên</b></p>
          <p class="main"><i class="bi bi-geo-alt-fill"></i>Tiệm xiên</p>
          <p><b>25.000đ</b></p>
          <button>Đặt hàng ngay</button>
        </div>
        <div class="item" [routerLink]="['/order-detail']" style="cursor: pointer;">

          <img src="assets/images/logo/mien_luon.jpg" alt="Không hiển thị được ảnh">
          <p><b>Miến Lươn</b></p>
          <p class="main"><i class="bi bi-geo-alt-fill"></i>Foody Man</p>
          <p><b>48.000đ</b></p>
          <button>Đặt hàng ngay</button>
        </div>
      </div>
    </div>
    <i class="bi bi-arrow-right-circle-fill arrow right" (click)="scrollRight()"></i>
  </div>
</div>

<div class="third">
  <h2>Nhà hàng nổi tiếng</h2>
  <div class="restaurant-grid">
    <div class="restaurant-card" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/pho_xao.jpg" alt="Food world">
        <div class="badges">
          <div class="discount">10% off</div>
          <div class="fast">Fast</div>
        </div>
      </div>
      <div class="info">
      <img src="assets/images/logo/localfood.jpg" alt="Food Logo" class="brand-logo">
      <div class="details">
        <p class="title">Phở gia truyền</p>
        <div class="rating"><i class="bi bi-star-fill"></i> 46</div>
        <div class="status tomorrow">Ngày mai</div>
      </div>
      </div>
      </div>

    <div class="restaurant-card" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/banh_mi_hoi_an_co_phuong.jpg" alt="Pizza hub">
        <div class="badges">
          <div class="discount">10% off</div>
          <div class="fast">Fast</div>
        </div>
      </div>
      <div class="info">
        <img src="assets/images/logo/localfood.jpg" alt="Food Logo" class="brand-logo">
        <div class="details">
          <p class="title">Bánh mỳ Hội An</p>
          <div class="rating"><i class="bi bi-star-fill"></i> 40</div>
          <div class="status tomorrow">Ngày mai</div>
        </div>
      </div>
    </div>

    <div class="restaurant-card" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/banh_xeo_nt.jpg" alt="Donuts hut">
        <div class="badges">
          <div class="discount">15% off</div>
          <div class="fast">Fast</div>
        </div>
      </div>
      <div class="info">
        <img src="assets/images/logo/localfood.jpg" alt="Food Logo" class="brand-logo">
        <div class="details">
          <p class="title">Bánh xèo Nha Trang</p>
          <div class="rating"><i class="bi bi-star-fill"></i> 20</div>
          <div class="status today">Hôm nay</div>
        </div>
      </div>
    </div>

    <div class="restaurant-card" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/bun_cha_ho_tay.jpg" alt="Donuts hut">
        <div class="badges">
          <div class="discount">15% off</div>
          <div class="fast">Fast</div>
        </div>
      </div>
      <div class="info">
        <img src="assets/images/logo/localfood.jpg" alt="Food Logo" class="brand-logo">
        <div class="details">
          <p class="title">Bún chả Hồ Tây</p>
          <div class="rating"><i class="bi bi-star-fill"></i> 50</div>
          <div class="status today">Hôm nay</div>
        </div>
      </div>
    </div>

    <div class="restaurant-card" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/bun_thit_nuong.jpg" alt="Ruby Tuesday">
        <div class="badges">
          <div class="discount">10% off</div>
          <div class="fast">Fast</div>
        </div>
      </div>
      <div class="info">
        <img src="assets/images/logo/localfood.jpg" alt="Food Logo" class="brand-logo">
        <div class="details">
          <p class="title">Cái tiệm nướng</p>
          <div class="rating"><i class="bi bi-star-fill"></i> 50</div>
          <div class="status today">Hôm nay</div>
        </div>
      </div>
    </div>

    <div class="restaurant-card" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/che_dau_xanh.jpg" alt="Kuakata Fried Chicken">
        <div class="badges">
          <div class="discount">10% off</div>
          <div class="fast">Fast</div>
        </div>
      </div>
      <div class="info">
        <img src="assets/images/logo/localfood.jpg" alt="Food Logo" class="brand-logo">
        <div class="details">
          <p class="title">Chè ba miền</p>
          <div class="rating"><i class="bi bi-star-fill"></i> 50</div>
          <div class="status today">Hôm nay</div>
        </div>
      </div>
    </div>

    <div class="restaurant-card" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/bun_thang.jpg" alt="Soup House">
        <div class="badges">
          <div class="discount">10% off</div>
          <div class="fast">Fast</div>
        </div>
      </div>
      <div class="info">
        <img src="assets/images/logo/localfood.jpg" alt="Food Logo" class="brand-logo">
        <div class="details">
          <p class="title">Ở đây có bún</p>
          <div class="rating"><i class="bi bi-star-fill"></i> 50</div>
          <div class="status today">Hôm nay</div>
        </div>
      </div>
    </div>

    <div class="restaurant-card" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;">

      <div class="img-box">
        <img src="assets/images/logo/bun_bo_chay.jpg" alt="Taco bell">
        <div class="badges">
          <div class="discount">10% off</div>
          <div class="fast">Fast</div>
        </div>
      </div>
      <div class="info">
        <img src="assets/images/logo/localfood.jpg" alt="Food Logo" class="brand-logo">
      <div class="details">
          <p class="title">Tiệm chay</p>
          <div class="rating"><i class="bi bi-star-fill"></i> 50</div>
          <div class="status today">Hôm nay</div>
        </div>
      </div>
    </div>
  </div> 
  <button class="more">Xem hết</button>
</div>


<div class="fourth">
  <div class="top d-flex justify-content-between align-items-center mb-4">
    <h2 class="m-0">Tìm kiếm theo món ăn</h2>
    <div class="d-flex align-items-center gap-3">
      <p class="m-0"><i><a href="#" class="view-all">Views all</a></i></p>
    </div>
  </div>
  <div class="food-category-wrapper">
      <div class="food-category" id="foodCategory">
        <div class="circle" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;"><img src="assets/images/logo/cao_lau_hoian.jpg" alt="Pizza"><p>Cao lầu</p></div>
        <div class="circle" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;"><img src="assets/images/logo/che_hat_luu.jpg" alt="Burger"><p>Chè hạt lựu</p></div>
        <div class="circle" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;"><img src="assets/images/logo/bun_bo_gan.jpg" alt="Noodles"><p>Bún bò</p></div>
        <div class="circle" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;"><img src="assets/images/logo/bun_moc.jpg" alt="Sandwich"><p>Bún mọc</p></div>
        <div class="circle" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;"><img src="assets/images/logo/chowmain.png" alt="Chowmein"><p>Mỳ giòn</p></div>
        <div class="circle" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;"><img src="assets/images/logo/hu_tieu_hai_san.jpg" alt="Steak"><p>Hủ tiếu</p></div>
        <div class="circle" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;"><img src="assets/images/logo/salad.png" alt="Salad"><p>Rau trộn</p></div>
        <div class="circle" 
     [routerLink]="['/order-detail']" 
     style="cursor: pointer;"><img src="assets/images/logo/soup.png" alt="Soup"><p>Cháo</p></div>
      </div>
    </div>
  </div>

<div class="fifth">
  <div class="deal-card">
    <div class="deal-text">
      <h3>Deal hời với <span>Cao lầu Hội An</span></h3>
      <p>Thưởng thức món cao lầu thơm lừng, cảm nhận hương vị tan chảy trong từng sợi.</p>
      <button class="btn-deal" [routerLink]="['/order-detail']">Đặt hàng ngay</button>
    </div>
    <div class="deal-img">
      <img src="assets/images/logo/cao_lau_hoian.jpg" alt="Crispy Sandwich">
    </div>
  </div>

  <div class="deal-card reverse">
    <div class="deal-img">
      <img src="assets/images/logo/banh_xeo_nt.jpg" alt="Fried Chicken">
    </div>
    <div class="deal-text">
      <h3>Giòn rụm <span>Bánh xèo</span></h3>
      <p>Thưởng thức bữa ăn giòn rụm và cay nồng - lựa chọn hoàn hảo cho mọi dịp sum họp!</p>
      <button class="btn-deal" [routerLink]="['/order-detail']">Đặt hàng ngay</button>
    </div>
  </div>

  <div class="deal-card">
    <div class="deal-text">
      <h3>Thanh mát & nhẹ bụng với <span>Chè Khoai</span></h3>
      <p>Thưởng thức chè khoai phủ nước cốt dừa béo ngậy, kết hợp hương vị khó quên.</p>
      <button class="btn-deal" [routerLink]="['/order-detail']">Đặt hàng ngay</button>
    </div>
    <div class="deal-img">
      <img src="assets/images/logo/che_khoai.jpg" alt="Pizza">
    </div>
  </div>
</div>

<div class="foot">
  <h2>Bạn đã sẵn sàng order với những deal hời nhất chưa?</h2>
  <button class="btn btn-order">Đặt hàng ngay</button>
  <img src="assets/images/logo/footer.png" alt="Không hiển thị được ảnh" width="2000">
</div>